<IfModule mod_rewrite.c>
    RewriteEngine On

    # Zorunlu HTTPS Yönlendirmesi
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # app/ klasörüne doğrudan tarayıcı erişimini engelle
    RewriteCond %{THE_REQUEST} \s/app/ [NC]
    RewriteRule ^app/ - [F,L]
</IfModule>

<IfModule mod_headers.c>
    Header always unset X-Powered-By
    Header always unset Server
    Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
    Header always set X-Frame-Options "SAMEORIGIN"
    Header always set X-Content-Type-Options "nosniff"
    Header always set Permissions-Policy "camera=(), microphone=(), geolocation=(), payment=()"
    Header always set Content-Security-Policy "default-src * 'unsafe-inline' 'unsafe-eval' data: blob:;"
</IfModule>